<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="MoonCode"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Настройки"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".FileManagerActivity"
            android:exported="false"
            android:label="Файловый менеджер"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="О приложении"
            android:parentActivityName=".SettingsActivity" />
    </application>

</manifest>
