aiofiles
aiogram>=3.0.0
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
attrs
certifi
frozenlist
idna
magic-filter
multidict
propcache
pydantic
pydantic_core
six
typing_extensions
yarl
beautifulsoup4
lxml
html5lib
